<div class="primeraParte">
  <div class="imagen">
    <img src="assets/img/familia4.png" alt="">
  </div>
  <div class="texto">
    <h1>Manatee Seguros</h1>
    <p>El regalo ideal, para el ahorro familiar.</p>
  </div>
</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #ff7f50;"></path>
  </svg></div>
<div class="terceraParte">
  <div class="titulo">
    <h3>Servicios</h3>
  </div>

  <div class="tarjetas">
    <div class="tarjeta1">
      <fa-icon [icon]="faCarCrash"></fa-icon>

      <h2>Seguro de auto</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi velit labore similique voluptate natus dolore
        perspiciatis amet? Amet expedita commodi quos harum sit ratione aliquid, officiis vero ipsam deleniti odit!</p>
    </div>
    <div class="tarjeta2">
      <fa-icon [icon]="faUserInjured"></fa-icon>
      <h2>Seguro de vida</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe nemo optio facere beatae autem, quis
        repellendus
        recusandae, provident nisi dolore laborum distinctio quasi quo porro cupiditate iure voluptate placeat totam.
      </p>
    </div>
    <div class="tarjeta3">
      <fa-icon [icon]="faBuilding"></fa-icon>
      <h2>Seguro de empresa</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eos culpa voluptas vitae in, inventore
        numquam
        ab. Sed voluptatum, perspiciatis repellat deleniti laboriosam cumque! Qui accusamus nisi cupiditate corrupti
        nobis.</p>
    </div>
  </div>


</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #6495ed
  ;"></path>
  </svg></div>
<div class="segundaParte">
  <div class="imagen">
    <img src="assets/img/familia3.png" alt="">
  </div>
  <div class="texto">
    <h1>Brindamos soluciones excepcionales para los clientes</h1>


    <div class="opciones">
      <p>
        - Tranquilidad de mental</p>
      <p>
        - Control para la vida
      </p>
      <p>
        - 100% de satisfacion
      </p>
      <p>
        - Compañia confiable
      </p>
    </div>

  </div>
</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #6495ed;"></path>
  </svg></div>
<div class="cuartaParte">

  <div class="texto">
    <h1>Seguro de autos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="imagen">
    <img src="assets/img/auto.png" alt="">
  </div>
</div>
<div class="quintaParte">
  <div class="imagen">
    <img src="assets/img/familia.png" alt="">
  </div>
  <div class="texto">
    <h1>Seguro de vida</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
<div class="cuartaParte">

  <div class="texto">
    <h1>Seguro de empresas</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="imagen">
    <img src="assets/img/empresa.png" alt="">
  </div>
</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
  style="height: 100%; width: 100%;">
  <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ff7f50
;"></path>
</svg></div>
<div class="sextaParte">

  <div class="texto">
    <h1>Compara pólizas entre más de 10 compañías</h1>
    <p>Trabajamos con las mejores aseguradoras para ofrecerte las coberturas más extensas y completas en seguros
      realmente competitivos que te ofrecen la tranquilidad de estar en buenas manos.</p>
  </div>
  <div class="imagen">

  </div>
</div>

<div class="boton">
  <a href="tel:+18554572583"><fa-icon [icon]="faPhone"></fa-icon></a>
</div>

<div class="boton2">
  <a href="mailto:perozo64@gmail.com "><fa-icon [icon]="faEnvelope"></fa-icon></a>
  
</div>