*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.primeraParte{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    background-color: #526ba3;
    .imagen{

        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        svg{
            width: 50%;
        }

        .svg1{
            margin-top: -20%;
        }
        .svg2{
            margin-top: 20%;
        }
       
    }

    .texto{
        width: 40%;
        height: auto;
        display: flex;
        padding: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 700;
            font-size: 55px;
            color: white;
            margin-top: 5%;
            text-align: center;
        }

        
        p{
            color: white;
            font-size: 40px;
            margin-top: 5%;
            width: 80%;
            text-align: center;
        }

        .seguros{
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .tipo{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 30%;
                height: auto;
                margin-top: 10%;
                margin-left: 2%;
                background-color: white;
                border-radius: 10px;
                fa-icon{
                    font-size: 50px;
                    color: #526ba3;
                }

                h3{
                    text-align: center;
                    color: #526ba3;
                }
            }
          

        }
    }
}

.segundaParte{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10% 0%;
    background-color: white;
    .imagen{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        img{
            width: 70%;
        }
       
    }

    .texto{
        width: 40%;
        height: auto;
        display: flex;
        padding: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 700;
            font-size: 55px;
            color: #ff747d;
            margin-top: 5%;
        }
        .opciones{
            display: flex;
            flex-direction: row;
            margin-top: 5%;
            width: 100%;
            flex-wrap: wrap;
            p{
                display: flex;
                flex-direction: row;
                margin-left: 5%;
                height: 50px;
                align-items: center;
                justify-content: center;
                color: #ff747d;
                font-size: 20px;
                width: 40%;
                margin-top: 2%;
                text-align: center;
            }
        }
       
    }
}

.terceraParte{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0% 10% 0%;
    margin-bottom: 1%;

    .titulo{
        width: 90%;
        h3{
            color: #526ba3;
            text-align: right;
            font-size: 35px;
        }
    }
    
   
    .tarjetas{
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
}



.cuartaParte{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10% 0%;
    background-color: #526ba3;
  
    .imagen{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        svg{
            width: 80%;
        }
       
    }

    .texto{
        width: 40%;
        height: auto;
        display: flex;
        padding: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 700;
            font-size: 45px;
            color: white;
            margin-top: 5%;
            text-align: center;
        }

        .llamar{
            background-color: white;
            padding: 2% 5%;
            border-radius: 50px;
            margin-top: 5%;
            margin-bottom: 5%;
            cursor: pointer;
           
            a{
                text-decoration: none;
                
                color: #526ba3;
            }
        }

        
        p{
            color: white;
            font-size: 20px;
            margin-top: 5%;
            width: 80%;
            text-align: justify;
        }
    }
}

.quintaParte{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10% 0%;
    background-color: #ff747d;
   
    .imagen{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        svg{
            width: 80%;
        }
       
    }

    .texto{
        width: 40%;
        height: auto;
        display: flex;
        padding: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 700;
            font-size: 45px;
            color: white;
            margin-top: 5%;
            text-align: center;
        }

        
        p{
            color: white;
            font-size: 20px;
            margin-top: 5%;
            width: 80%;
            text-align: justify;
        }
    }
}

.sextaParte{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    background-color: #ff747d;

    .texto{
        width: 40%;
        height: auto;
        display: flex;
        padding: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 700;
            font-size: 35px;
            color: white;
            text-align: center;
        }

        
        p{
            color: white;
            font-size: 20px;
            margin-top: 5%;
            width: 100%;
            text-align: center;
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #526ba3;
    justify-content: center;
    align-items: center;

.primeraParte{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
   

.izquierda{
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3% 1%;
    h3{
        margin-bottom: 4%;
        color: white;
    }

    a{  
        margin-bottom: 1%;       
        text-decoration: none;
        color: white;   

    }       

}

.centro{ 
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3% 1%;

    h3{
        margin-bottom: 4%;
        color: white;
    }

    a{  
        margin-bottom: 4%;       
        text-decoration: none;
        color: white;   

    }  
}

.derecha{
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3% 1%;

    h3{
        margin-bottom: 4%;
        color: white;
    }


    .social{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        img{
            width: 10%;
            margin-right: 5%;
        }

    }

    
}

}




.terceraParte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 1%;
    background-color: #526ba3;
 p{
     color: white;
     margin-top: 10%;
    margin-bottom: 10%;
 }   
}

} 



.boton,.boton2,.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index: 1;
    top: 30px;
    right:100px;
    border-radius: 50px;
    cursor: pointer;

    fa-icon{
        color:#526ba3
    }
}

.boton2{
    right:30px
}

.logo{
    width: 250px;
    height: 50px;
    right: 84%;

    img{
        width: 70%;
    }
}